body {
    background-image: url("./newspic.jpg");
}

nav {
    opacity: .9;
}

.container {
    opacity: 0.85;
    background-color: white;
}

#header1 {
    color: black;
    opacity: .85;
    font-family: "Times New Roman", Times, serif;
    border-bottom: 3px solid black;
    font-size: 60px;
}

textarea, input {
    display: block;
    width: 100%;
}

input {
    height: 36px;
    font-size: 24px;
}

textarea {
    height: 200px;
    font-size: 18px;
}